body {
  position: relative;
  overflow-x: hidden;
  font-family: SimHei;
  margin-top: 60px;
}
.page {
  transition: all .15s linear;
  position: absolute;
  width: 100%;
}
/*要离开的ngView元素动画开始时的样式*/
.page.ng-leave {
  left: 0;
  opacity: 1;
}
/*要离开的ngView元素动画结束时的样式*/
.page.ng-leave.ng-leave-active {
  left: -100%;
  opacity: 0;
}
/*要进入的ngView元素动画开始时的样式*/
.page.ng-enter {
  left: 100%;
  opacity: 0;
}
/*要进入的ngView元素动画结束时的样式*/
.page.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.footer-menu {
  line-height: 50px;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.footer-menu > li {
  width: 32%;
  text-align: center;
}
.start {
  margin-top: 100px;

}
.start h3{
  margin-top: 50px;
}