<div ng-include=" 'tpl/header.html' "></div>

<div class="container">

<div class="form-group has-feedback">
  <input ng-model="kw" type="text" class="form-control" placeholder="搜索菜品名称或原料关键字...">
  <span class="form-control-feedback glyphicon glyphicon-search"></span>
</div>

<div class="list-group">
  <a class="list-group-item" href="#/detail/{{dish.did}}" ng-repeat="dish in dishList">
    <div class="media">
      <div class="media-left media-middle">
        <img class="media-object" ng-src="img/{{dish.img_sm}}" alt=""/>
      </div>
      <div class="media-body">
        <h4>{{dish.name}}</h4>
        <p>原料：{{dish.material}}</p>
        <hr/>
        <div>价格：{{dish.price | currency : '￥'}}</div>
      </div>
    </div>
  </a>
</div>

<button ng-show="hasMore" class="btn btn-success btn-block" ng-click="loadMore()">加载更多</button>
<div ng-hide="hasMore" class="alert alert-danger">
  <span class="glyphicon glyphicon-alert"></span>
  已经没有更多数据可供加载了！
</div>

</div>
<br>
<br>
<br>
<div ng-include="  'tpl/footer.html'  "></div>